@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Tajawal", sans-serif;
}

:root {
  --primary-100: #0085ff;
}

/* --- Global Styles --- */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body::-moz-focus-inner {
  color: #110726;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: #110726;
}

body::-webkit-scrollbar-thumb {
  width: 0;
  background-color: transparent;
}

.root-layout {
  width: 100%;
  height: 100%;
}

/* --- Marks --- */
.mark {
  position: relative;
  padding: 0 0 12.5px;
}

.mark::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 12px;
  bottom: 0;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-45px);
  -ms-transform: translate(-45px);
  transform: translate(-45px);
  background-color: var(--primary-100);
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(assets/headline-curve.svg);
  mask-image: url(assets/headline-curve.svg);
}

.mark-z {
  position: relative;
  padding: 0 0 5px;
}

.mark-z::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 12px;
  bottom: -5px;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-45px);
  -ms-transform: translate(-45px);
  transform: translate(-45px);
  background-color: #fff;
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(assets/headline-underline-zigzag.svg);
  mask-image: url(assets/headline-underline-zigzag.svg);
}

/* --- LandingSection --- */
.landing-background {
  border-radius: 0 0 100% 100%;
  height: 544px;
  margin: 0 -20%;
  overflow: hidden;
  padding: 0 20%;
}

.landingBackground {
  background-image: url(./assets/backgrounds/landing.webp);
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 32px;
  transition: background-image 1s ease-in-out;
  width: 100%;
}

/* --- BlogSection --- */
.slick-prev:before,
.slick-next:before {
  font-size: 24px !important;
  color: var(--primary-100) !important;
}

.slick-arrow {
  /* margin-top: -10px !important; */
  margin: 0 -5px !important;
}

.silder {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.slick-slide {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.slick-slider {
  height: 300px;
}

/* --- HotalSection --- */
.places {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  color: #1d1d1d;
  display: flex;
  flex-direction: column;
  height: 240px;
  margin: 8px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 176px;
}

.placesImg {
  border-radius: inherit;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: var(--image-object-fit, cover);
  object-fit: var(--image-object-fit, cover);
  position: absolute;
  transition: opacity 0.5s ease;
  width: 100%;
}

.placesText {
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* .sliderT {
  width: 175px !important;
} */

/* --- Category --- */
.placeBox {
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  color: #1d1d1d;
  display: flex;
  height: 148px;
  overflow: hidden;
  text-decoration: none;
  width: 300px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
